<%- include("partials/header.ejs") %>
<h1> Oxy Blog Project Main Page </h1>

<p>Welcome to our website! We are excited to have you here. 
    Whether you're exploring new ideas, looking for inspiration, 
    or just browsing, we aim to provide an engaging and enjoyable experience. 
    Take your time to discover everything we have to offer, and don't hesitate to reach out if you have any questions or feedback.
     Stay tuned for updates, and enjoy your visit!
</p>

<%- include("partials/footer.ejs") %>