<%- include("partials/header.ejs") %>

<div class="full-post">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <a href="/posts" class="back-button">Back to Posts</a>
</div>

<%- include("partials/footer.ejs") %>
